body{
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
    padding-top: 10px;
}
.card{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 300px;
    background-color: grey;
}
.circle{
    border-radius: 50%;
    background-color: rgb(238, 255, 0);
    border: 1px solid gray;
    height: 150px;
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
h5{
    text-decoration:underline;
    cursor: pointer;
    font-size: small;
}
.btnn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
button{
    height: 30px;
    width: 200px;
    background-color: aqua;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.changecolor{
    border-radius: 50%;
    background-color:aqua;
    border: 1px solid gray;
    height: 150px;
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}









